body{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../helth.jpeg);
	height:100vh;
	background-size:cover;
	background-position:center;	
	font-family:sans-serif;
}

@keyframes change{
0%{background-color:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));}
20%{background-color:#CA4023;opacity:0.7;}
40%{background-color:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));}
60%{background-color:#820F3F;opacity:0.7;}
80%{background-color:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));}
100%{background-color:#2C0E90;opacity:0.7;}
}

.forgotbox{
	width:380px;
	height:450px;
	animation: change 10s infinite;
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img.jpeg);
	color:#fff;
	top:50%;
	left:50%;
	position:absolute;
	transform:translate(-50%,-50%);
	box-sizing:border-box;
	padding:70px 30px;
}

.avatar{
	width:100px;
	height:100px;
	border-radius:50 %;
	position:absolute;
	top:-50px;
	left:calc(50% - 50px);
}

h1{
	margin:0;
	padding:0;
	text-align:center;
	font-size:22px;
	margin-bottom:30px;
}

.forgotbox p{
	margin:0;
	padding:0;
	font-weight:bold;
}

.forgotbox input{
	width:100%;
	margin-bottom:20px;
}

.forgotbox input[type="text"], input[type="password"]{
	border:none;
	border-bottom:1px solid #fff;
	background:transparent;
	outline:none;
	height:40px;
	color:#fff;
	font-size:16px;
}

.forgotbox input[type="submit"]{
	border:none;
	outline:none;
	height:40px;
	background:#8B0000;
	color:#fff;
	font-size:18px;
}

.forgotbox input[type="submit"]:hover{
	cursor:pointer;
	background:#fff;
	color:#8B0000;
}

.forgotbox a{
	text-decoration:none;
	font-size:12px;
	line-height:20px;
	color:#fff;
	border-radius:15px;
}

.forgotbox a:hover{
	text-decoration:none;
	font-size:12px;
	line-height:20px;
	color:#8B0000;
}