*{
	margin:0;
	padding:0;
	font-family:Century Gothic;
}
.active{
	background:#8B0000;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../helth.jpeg);
	height:100vh;
	background-size:cover;
	background-position:center;	
}

ul{
	float:left;
	list-style-type:none;
	margin-top:65px;
	color:red;
}

@media only screen and (max-width:976px)
{
	ul{
		display:inline-block;
	}
}

.main-nav{
	list-style:none;
	float:right;
	margin-top:30px;
}

.main-nav li{
	display:inline-block;
}

.main-nav li a{
	text-decoration:none;
	color:white;
	padding:10px 39.5px;
	font-family:"Roboto",sans-serif;
	font-size:15px;
	transition;0.6s ease;
}

.main-nav li a:hover{
	color:#8B0000;
}

.main{
	max-width:1200px;
	margin:auto;
}

body{
	font-family:monospace;
}

.row{
	max-width:1200px;
	margin:auto;
}

.title{
	position:absolute;
	top:40%;
	left:35%;
	transform:traslate(-50%,-50%);
}

@keyframes change{
0%{text-color:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));}
20%{text-color:#CA4023;opacity:0.7;}
40%{text-color:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5))}
60%{text-color:#820F3F;opacity:0.7;}
80%{text-color:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5))}
60%{text-color:#2C0E90;opacity:0.7;}
}

.title h1{
	color:white;
	font-size:60px;
	animation: change 7s infinite;
}

.title h2{
	color:white;
	font-size:30px;
	animation: change 7s infinite;
}
